body {
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    background-image: url('../images/London-Skyline-At-Night-l.jpg');
    height: 20%;
    background-repeat: no-repeat;
    background-position: center top;
}

textarea {
  padding: 2px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* maybe need to refactor form to split properly */

.region-list-item {
    border: 2px;
    border-color: black;
    margin: 5px;
    text-align: center;
    background-color: lightgray;
    margin-bottom: 0px;
}

.region-list-item:hover {
    background-color: beige;
}

#nav-bar {
    display: grid;
    grid-template-columns: 70% 30%; 
    background-color: white;
    grid-gap: 20px;
    width: 100%;
}

#cities-maps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

#cities-view-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 75vh;
    overflow: scroll;
    background-color: lightgray;
}

#cities-view-container div {
    margin: 10px;
    border: solid aliceblue 3px;
    padding: 10px;
    background-color: rgb(255, 158, 113);
    height: 135px;
}

#true.my-cities-menu-item {
    font-size: 32px;
    text-align: center;
    background-color: rgb(255, 130, 130);
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 0px;
}

#true.my-cities-menu-item:hover {
    background-color: lightsalmon;
}


#map {
    min-height: 400px;
    height: 75vh;
    width: 100%;
    background-color: lightgray;
}

#region-list {
    font-size: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    grid-gap: 20px;
    margin-bottom: 0px;
}
