body {
    font-family: 'Alegreya Sans', sans-serif;
}

section {
    place-items: center center;
}

#region-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center center;
    list-style-type: none;
}

.region-list-item {
    border: 2px;
    border-color: black;
    margin: 5px;
}

#map {
  display: flex;
  height: 500px;
}
